<html>
	<head>
		<title>UVCE Hash Code Hub</title>
		<link rel="stylesheet" href="/styles/index.css">
	</head>

	<body>
		<div class="title">
			UVCE Hash Code Hub
		</div>

		<div class="title">
			Practice Website
		</div>

		<div class="subtitle">
			Problems
		</div>

		<ul class="problem-list">
			<li><a href="/problems/fest-scheduling">Fest Scheduling</a></li>
			<li><a href="/problems/network-issue">Network Issue</a></li>
			<li><a href="/problems/cleanliness-drive">Cleanliness Drive</a></li>
		</ul>
	</body>
</html>
